{% extends 'base2.html.twig' %}

{% block title %}{{ user.prenom }} {{ user.nom }}{% endblock %}

{% block body %}
    <style>

    </style>


        <h2>Compétences :</h2>

        <h3>Langues :</h3>
        {% for langues in user.langues %}
            <p>{{ langues.langues }}  -  Niveau : {{ langues.notion }}</p>
        {% endfor %}




{% endblock %}