{% extends 'base2.html.twig' %}

{% block title %}{{ user.prenom }} {{ user.nom }}{% endblock %}

{% block body %}
<style>
    .propos
    {
        margin-top: 4%;
        font-size: 50px;
    }
    .dicton
    {
        text-align: justify;
        font-size: 30px;



</style>

    <img class="cvimage" src="{{ asset('uploads/cv.jpg') }}" alt="" style="max-width: 80%; display: block;margin-right: auto; margin-left: auto" >
            <h2 class="propos">A propos :</h2>
            <p class="dicton">{{ user.aPropos }}</p>






{% endblock %}
