{% extends 'base.html.twig' %}

{% block title %}{{ user.prenom }} {{ user.nom }}{% endblock %}

{% block body %}
<style>

</style>



        <div class="col-12 col-sm-12 col-md-6 col-lg-9 col-xl-9">
            <h2>A propos :</h2>
            <p style="text-align: justify">{{ user.aPropos }}</p>

        </div>



{% endblock %}
