{% extends 'base2.html.twig' %}

{% block title %}{{ user.prenom }} {{ user.nom }}{% endblock %}

{% block body %}
    <style>

    </style>


        <h2>Loisirs :</h2>

        {% for loisirs in user.loisirs %}
            <p>{{ loisirs.nom }} ({{ loisirs.description }})</p>
        {% endfor %}





{% endblock %}